<h1><%=@place.name%></h1>

<h2> What We Did! </h2>

<ul>
  <% for entry in @entries%>
    <li>
      <strong><%= entry.title %></strong>
      <ul>
        <li>Description: <%= entry.description %></li>
        <li>Occurred On: <%= entry.occurred_on %></li>
      </ul>
    </li>
  <%end%>
</ul>

<p>
  <a href="/entries/new?place_id=<%=@place.id%>">New Entry</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>